<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <%- partial('_partial/head') %>
</head>
<body>
    <div id="container">
        <%- body %>
    </div>
    <script src="/js/diversity-comments.js"></script>
</body>
</html>
